# Lesson 04b: Loops — Exercises — SOLUTIONS

**Instructor:** Ryan McMaster  
**Course:** Programming, Medina County Career Center  

Practice Python loops: for, while, range(), and loop control (break, continue).

---
## Exercise 1: Countdown

Write a program that counts down from 10 to 1, then prints "Blastoff!"

Use a for loop with range().

In [ ]:
# SOLUTION 1
# range(10, 0, -1) counts from 10 down to 1
for i in range(10, 0, -1):
    print(i)

print("Blastoff!")

---
## Exercise 2: Sum of N Numbers

Write a program that calculates the sum of all numbers from 1 to N.

For example, if N = 5, the sum is 1+2+3+4+5 = 15.

Use the accumulator pattern.

In [ ]:
# SOLUTION 2
n = 5

# Accumulator pattern
total = 0  # Start with 0
for i in range(1, n + 1):  # 1 to n inclusive
    total = total + i  # Add each number to total

print(f"Sum of numbers 1 to {n}: {total}")

---
## Exercise 3: Multiplication Table

Create a multiplication table for a given number (e.g., 3 × 1 through 3 × 10).

Use a for loop with range().

In [ ]:
# SOLUTION 3
number = 3

print(f"Multiplication table for {number}:")
for i in range(1, 11):  # 1 to 10
    product = number * i
    print(f"{number} × {i} = {product}")

---
## Exercise 4: FizzBuzz

Classic programming challenge:
- For numbers 1 to 20:
  - If divisible by 3: print "Fizz"
  - If divisible by 5: print "Buzz"
  - If divisible by both 3 and 5: print "FizzBuzz"
  - Otherwise: print the number

Use a for loop and if/elif/else statements.

In [ ]:
# SOLUTION 4
# Key: check for both 3 and 5 FIRST, then check individually
for i in range(1, 21):  # 1 to 20
    if i % 3 == 0 and i % 5 == 0:
        # Divisible by both 3 and 5
        print("FizzBuzz")
    elif i % 3 == 0:
        # Divisible by 3 only
        print("Fizz")
    elif i % 5 == 0:
        # Divisible by 5 only
        print("Buzz")
    else:
        # Not divisible by 3 or 5
        print(i)

---
## Exercise 5: Even Numbers Sum

Write a program that sums all even numbers from 1 to 20.

Use:
- A for loop with range()
- An if statement to check if a number is even
- The accumulator pattern

In [ ]:
# SOLUTION 5
total = 0  # Accumulator

for i in range(1, 21):  # 1 to 20
    if i % 2 == 0:  # If even
        total = total + i

print(f"Sum of even numbers 1-20: {total}")
# Expected: 2+4+6+8+10+12+14+16+18+20 = 110

---
## Exercise 6: Print Stars Pattern

Create a pattern that prints:
```
*
**
***
****
*****
```

Use a for loop and string concatenation (or the * operator).

In [ ]:
# SOLUTION 6
# Method 1: Using string concatenation in a loop
for i in range(1, 6):  # 1 to 5
    row = ""  # Accumulator for building a row
    for j in range(i):
        row = row + "*"
    print(row)

# Alternative: using string multiplication
print("\nAlternative method:")
for i in range(1, 6):
    print("*" * i)  # Multiply string by number

---
## Exercise 7: Skip Numbers with continue

Write a program that prints numbers 1-10 but skips multiples of 3 using the continue statement.

In [ ]:
# SOLUTION 7
for i in range(1, 11):  # 1 to 10
    if i % 3 == 0:  # If divisible by 3
        continue  # Skip this iteration
    print(i)  # Prints 1, 2, 4, 5, 7, 8, 10

---
## Exercise 8: Stop at Target with break

Write a program that counts up from 1 and stops when it reaches 15 using the break statement.

In [ ]:
# SOLUTION 8
# Method 1: Using a large range and break
for i in range(1, 100):
    if i == 15:
        break  # Exit loop
    print(i)

# Method 2: Using range directly
print("\nAlternative method:")
for i in range(1, 15):
    print(i)

---
## Exercise 9: Nested Loop — Times Table

Create a times table (5×5) using nested loops:
```
1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25
```

Use two for loops with range().

In [ ]:
# SOLUTION 9
print("5 × 5 Times Table:")
for i in range(1, 6):  # Rows: 1 to 5
    row = ""  # Accumulator for this row
    for j in range(1, 6):  # Columns: 1 to 5
        product = i * j
        row = row + str(product) + " "  # Add product to row
    print(row)

---
## Challenge: Factorial Calculator

Calculate the factorial of a number (e.g., 5! = 5 × 4 × 3 × 2 × 1 = 120).

Use the accumulator pattern with multiplication instead of addition.

In [ ]:
# SOLUTION Challenge
n = 5

# Accumulator pattern with multiplication
# Start with 1, not 0!
factorial = 1
for i in range(1, n + 1):
    factorial = factorial * i

print(f"{n}! = {factorial}")
# 5! = 1 × 2 × 3 × 4 × 5 = 120